* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: sans-serif;
    overflow-x: hidden;
  }
  /* style image backgroud */

  .container{
    background-image: url(/sistem-informasi-dan-sumber-daya-iclabs/images/home_mainPhoto.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;    
}
  nav {
    margin: 25px 20px;
    background-color: white;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    border: black solid ;
    border-radius: 10px;
    box-shadow: 10px;
    border-radius: 20px;


  }
  .logo img{
    width: 100px;
    padding: 50px;

  }
  nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
  }
  
  nav ul li a {
    text-decoration: none;
    color: b;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    font-weight: bold;
  }
  nav ul li a:hover {
    color: red;
  }
  
  .toggle-menu {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
  }
  .toggle-menu input {
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 28px;
    left: -7px;
    cursor: pointer;
    z-index: 3;
  }
  /* animation burger */
  .toggle-menu span:nth-child(2) {
    transform-origin: 0 0;
    transition: all 0.5s;
  }
  .toggle-menu input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-2px, -2px);
    background-color: white;
  }
  .toggle-menu span:nth-child(4) {
    transition: all 0.5s;
    transform-origin: 0 100%;
  }
  .toggle-menu input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(0px, 0px);
  }
  .toggle-menu input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }
  .toggle-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(227, 212, 221);
    border-radius: 3px;
  }
  
  /* layar tbalet */
  @media screen and (max-width: 768px) {
    nav ul {
      width: 50%;
    }
  }
  /* ukuran mobile */
  @media screen and (max-width: 576px) {
    nav ul {
      position: absolute;
      right: 0;
      top: 0;
      width: 70%;
      flex-direction: column;
      background-color: black;
      justify-content: space-evenly;
      height: 100vh;
      align-items: center;
      z-index: -1;
      background-color: white;
      transform: translateX(100%);
      transition: all 0.5s;
      opacity: 0;
    }
    .toggle-menu {
      display: flex;
    }
    nav ul.slide {
      transform: translateX(0);
      transition: all 0.5s;
      opacity: 1;
    }
  }

  